<app-graph-viewport-container
  [graphData]="graphState.graphData()"
  [visibleNodeIds]="visibleNodeIds()"
  [selectedNode]="graphState.selectedNode()"
  [nodeTypes]="nodeTypes"
  [activeTypeFilters]="graphState.activeTypeFilters()"
  [searchQuery]="graphState.searchQuery()"
  [activeTagFilter]="graphState.activeTagFilter()"
  [allTags]="allTags()"
  [visibleNodeCount]="graphState.visibleNodes().length"
  [visibleEdgeCount]="visibleEdgeCount()"
  [orphanCount]="graphState.orphanNodes().length"
  [hubNodes]="graphState.hubNodes()"
  [toolbarVisible]="toolbarVisible()"
  [isLoading]="graphState.isLoading()"
  [error]="graphState.error()"
  [visualizationMode]="graphState.visualizationMode()"
  [progressStates]="graphState.progressStates()"
  [activeProgressFilters]="graphState.activeProgressFiltersList()"
  [selectedNodeProgress]="graphState.selectedNodeProgress()"
  (nodeSelected)="graphState.selectNode($event)"
  (typeToggled)="toggleType($event)"
  (searchChanged)="graphState.setSearchQuery($event)"
  (tagChanged)="graphState.setTagFilter($event)"
  (orphanHighlighted)="highlightOrphans()"
  (hubSelected)="graphState.selectNode($event)"
  (refreshRequested)="graphState.loadGraph()"
  (toolbarVisibilityToggled)="toolbarVisible.set($event)"
  (detailClosed)="graphState.selectNode(null)"
  (assessmentRequested)="graphState.requestAssessment($event)"
  (visualizationModeChanged)="graphState.setVisualizationMode($event)"
/>

<app-assessment-dialog-ui
  [session]="visibleSession()"
  [errorMessage]="assessmentError()"
  (responseSubmitted)="handleResponseSubmitted($event)"
  (cancelled)="handleCancelled()"
  (retried)="handleAssessmentRetried()"
/>

<app-progress-dashboard-ui
  [progressStats]="graphState.progressStats()"
  [lastSyncTime]="progressStateService.getLastSyncTime()()"
  [lastError]="progressStateService.getLastError()()"
  [hasPendingRetry]="!!progressStateService.getLastFailedWrite()()"
  (filterChanged)="handleFilterChanged($event)"
  (refreshRequested)="handleRefreshRequested()"
  (retryRequested)="handleRetryRequested()"
  (rebuildIndexRequested)="handleRebuildIndexRequested()"
/>
